@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/orange";

.app.app-dark-theme,
.app.app-light-theme,
.app.app-orange-theme,
body {
  font: var(--font-m);
  color: var(--primary-color);
  min-height: 100vh;
  background: var(--bg-color);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-bg-color);
  border-radius: 5px;
}

.content-page {
  display: flex;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
