@keyframes ldio-1tmaqjb5jgj {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
.ldio-1tmaqjb5jgj div { box-sizing: border-box !important; }

.ldio-1tmaqjb5jgj > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: var(--inverted-bg-color) transparent var(--inverted-bg-color) transparent;
  animation: ldio-1tmaqjb5jgj 1s linear infinite;
}

.ldio-1tmaqjb5jgj > div:nth-child(2) { border-color: transparent; }

.ldio-1tmaqjb5jgj > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-1tmaqjb5jgj > div:nth-child(2) div::before,
.ldio-1tmaqjb5jgj > div:nth-child(2) div::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: var(--inverted-bg-color);
  border-radius: 50%;
  box-shadow: 0 128px 0 0 var(--inverted-bg-color);
}

.ldio-1tmaqjb5jgj > div:nth-child(2) div::after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 var(--inverted-bg-color);
}

.loadingio-spinner-dual-ring-66xs353738l {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-1tmaqjb5jgj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
