.root {
  min-height: 100%;
}

.avatarWrapper {
  display: flex;
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;
}

.articleInfo {
  margin-top: 6px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.block {
  margin-top: 16px;
}
