.root {
  cursor: pointer;
  padding: 6px 14px;
  color: var(--primary-color);
}

.clear {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: var(--inverted-primary-color);
}

.outline {
  background: none;
  border: 1px solid var(--primary-color);
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.square.size-m {
  padding: 0;
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m);
}

.square.size-l {
  padding: 0;
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-l);
}

.square.size-xl {
  padding: 0;
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl);
}

.size-m {
  font: var(--font-m);
}

.size-l {
  font: var(--font-l);
}

.size-xl {
  font: var(--font-xl);
}
