.root {
  cursor: pointer;
  padding: 8px 12px;
  color: var(--primary-color);
}

.clear {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.outline {
  background: none;
  border: 1px solid var(--primary-color);
}
