.root {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
  box-shadow: 0 5px 5px -5px rgb(34 60 80 / 60%) inset;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: grid;
  grid-template-columns: auto min-content min-content auto;
  grid-template-areas: ". theme-switcher lang-switcher .";
  gap: 20px;
  width: 100%;
}

.langSwitcher {
  grid-area: lang-switcher;
}

.themeSwitcher {
  grid-area: theme-switcher;
}

.collapseButton {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.menu {
  margin-top: 20px;
  display: grid;
  gap: 10px;
}

.collapsed {
  width: 80px;
  width: var(--sidebar-width-collapsed);

  .switchers {
    grid-template-columns: 1fr;
    grid-template-areas: "theme-switcher" "lang-switcher";
    gap: 5px;
  }
}
