.tiles {
  width: 230px;
  transition: transform 0.2s, opacity 0.2s;
  display: inline-block;

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .date {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.85;
    transform: scale(1.01);

    .date {
      display: block;
    }
  }

  .types {
    overflow: hidden;

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .title {
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.list {
  .img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }

  .textBlock {
    max-height: 135px;
    overflow-y: hidden;
  }
}
