.root {
  position: relative;
  width: fit-content;
}

.button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;

  &:hover {
    opacity: 0.9;
  }
}

.menuList {
  background-color: var(--card-bg);
  color: var(--primary-color);
  position: absolute;
  z-index: 10000;
  min-width: fit-content;
  width: 100%;
}

.menuItemButton {
  text-wrap: nowrap;
  padding: 4px 8px;
  color: inherit !important;
  background: none;
  margin: 0;
  border: none;
  display: block;
  width: 100%;
  text-align: left;
}

.menuItemActive {
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}

.menuItemDisabled {
  opacity: 0.6;
}

.topRight {
  border-radius: 8px 8px 0 0;
  bottom: 100%;
  left: 0;
}

.topLeft {
  border-radius: 8px 8px 0 0;
  bottom: 100%;
  right: 0;
}

.bottomRight {
  border-radius: 0 0 8px 8px;
  top: 100%;
  left: 0;
}

.bottomLeft {
  border-radius: 0 0 8px 8px;
  top: 100%;
  right: 0;
}
